/* Smartphone Screens */
@media only screen and (max-width: 640px) {
    body {
        padding-top: 20%;
        padding-left: 8%;
        padding-right: 8%;
        padding-bottom: 5%;
        background-color: #F5F5F8;
    }

    /* Navigation Bar */
    #navigation-bar {
        background-color: #F5F5F8;
        padding: 5% 5%;
    }

    #navigation-bar .collapse {
        justify-content: end;
    }

    #navigation-bar .nav-item:hover {
        font-weight: 900;
    }
    
    /* Case Study */
    .card-img {
        filter: blur(5px);
        opacity: 0.2;
    }

    .card-img-overlay {
        width: 80%;
    }

    .case-study-photo {
        width: 100%;
        height: 100%;
    }
}

/* iPad Screens */
@media only screen and (min-width: 641px) and (max-width: 991px) {
    body {
        padding-top: 16%;
        padding-left: 8%;
        padding-right: 8%;
        padding-bottom: 5%;
        background-color: #F5F5F8;
    }

    /* Navigation Bar */
    #navigation-bar {
        background-color: #F5F5F8;
        padding: 4% 8%;
    }

    #navigation-bar .collapse {
        justify-content: end;
    }

    #navigation-bar .collapse .nav-item {
        margin: 0px 10px;
    }

    #navigation-bar .nav-item:hover {
        font-weight: 900;
    }
    
    /* Case Study */
    .card-img-overlay {
        width: 50%;
        top: 20%;
    }

    .case-study-photo {
        width: 100%;
        height: 100%;
    }
}

/* Smaller Laptop Screens */
@media only screen and (min-width: 991px) and (max-width: 1280px) {
    body {
        padding-top: 16%;
        padding-left: 8%;
        padding-right: 8%;
        padding-bottom: 5%;
        background-color: #F5F5F8;
    }

    /* Navigation Bar */
    #navigation-bar {
        background-color: #F5F5F8;
        padding: 4% 8%;
    }

    #navigation-bar .collapse {
        justify-content: end;
    }

    #navigation-bar .collapse .nav-item {
        margin: 0px 10px;
    }

    #navigation-bar .nav-item:hover {
        font-weight: 900;
    }
    
    /* Case Study */
    .card-img-overlay {
        width: 40%;
        top: 25%;
    }

    .case-study-photo {
        width: 100%;
        height: 100%;
    }
}

/* Regular Laptops and Television Screens */
@media only screen and (min-width: 1281px) {
    body {
        padding-top: 10%;
        padding-left: 15%;
        padding-right: 15%;
        padding-bottom: 2%;
        background-color: #F5F5F8;
    }

    /* Navigation Bar */
    #navigation-bar {
        background-color: #F5F5F8;
        padding: 2% 15%;
    }

    #navigation-bar .collapse {
        justify-content: end;
    }

    #navigation-bar .collapse .nav-item {
        margin: 0px 10px;
    }

    #navigation-bar .nav-item:hover {
        font-weight: 900;
    }
    
    /* Case Study */
    .card-img-overlay {
        width: 40%;
        top: 30%;
    }

    .case-study-photo {
        width: 100%;
        height: 100%;
    }
}

.row a:hover {
    font-weight: bold;
}

#linkedin:hover, #mail:hover {
    transform: scale(1.1);
}