<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sachin Ghegade | Digital Oil Fields</title>

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="../images/favicon.png">

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <!-- CSS -->
    <link href="../css/case-studies.css" rel="stylesheet">
    <link href="../css/common.css" rel="stylesheet">
</head>
<body>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg" id="navigation-bar">
        <a class="navbar-brand large" href="../../index.html">
            <span class="bold">Sachin</span> Ghegade
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" 
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link bold" href="../../index.html#about">ABOUT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link bold" href="../../index.html#experience">EXPERIENCE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link bold" href="../../index.html#work">WORK</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link bold" href="../../index.html#posts">POSTS</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Case Study Section-->
    <div id="case-study">
        <a href="../../index.html#work" class="d-flex text-decoration-none text-dark">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-left m-1" viewBox="0 0 20 20">
                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 
                    8.5H14.5A.5.5 0 0 0 15 8"/>
            </svg>
            <p class="mx-2 regular">Other case studies | <span class="bold">Digital Oil Fields</span></p>
        </a>
        <div class="card border-0">
            <img class="card-img" src="../images/oil-gas-mining/DigitalOilFields_banner.png" alt="Predictive Analytics Banner" >
            <div class="card-img-overlay p-md-5">
                <p class="card-title title-font bold">
                    Digital Oil Fields
                </p>
                <p class="card-text regular">
                    <span class="bold regular">Project type:</span> Native + Web Application + Hybrid Display
                </p>
            </div>
        </div>
        <div class="card border-0 my-4">
            <div class="card-body">
                <div>
                    <p class="regular">
                        Using a combination of emerging technologies such as artificial intelligence (AI), the Internet of Things (IoT), augmented reality, 
                        mobile connectivity and the cloud, goal is to help operators gather, analyse and react in real-time to production-related information in the field.
                        <br><br>
                        My role as a UX/UI Lead was to understand the needs from business, user and market points of view and propose a solution.
                    </p>

                    <p class="medium bold smoke">Key Requirements</p>
                    <ul class="regular">
                        <div class="row">
                            <div class="col-sm-4">
                                <li>
                                    Increase Productivity
                                </li>
                                <li>
                                    Increase ROI
                                </li>
                            </div>
                            <div class="col-sm-4">
                                <li>
                                    Attract More and Better Customers
                                </li>
                                <li>
                                    Boost the Value of a Brand
                                </li>
                            </div>
                            <div class="col-sm-4">
                                <li>
                                    Streamlined Usability
                                </li>
                                <li>
                                    Reduce Failuear Rate
                                </li>
                            </div>
                        </div>
                    </ul>

                    <p class="medium bold smoke">
                        Solution
                    </p>
                    <p class="regular">
                        Combination of <span class="bold">Design Thinking + Hybrid approaches</span>; primarily focused on streamlining the journey that should achieve the 
                        targeted goal in minimum downtime, by scheduling Product Owner, <span class="bold">User interview, UX Audit (Heuristic evaluation)</span>. 
                        While following <span class="bold">design principles, WCAG compliances</span>, I created a <span class="bold">Design System</span> to reduce 
                        the repetitive efforts and keep uniformity throughout. All work done using <span class="bold">MiRO</span> to create 
                        <span class="bold">Information Architecture, Figma</span> to create <span class="bold">wireframs, clickthrough prototype</span> and 
                        <span class="bold">Adobe Illustrator</span> for <span class="bold">icon creation</span>. In addition proposed various concepts to choose right from.
                    </p>

                    <p class="medium bold smoke">
                        Benefits
                    </p>
                    <p class="regular">
                        Keeping User centred approach in the product to streamline operations, the digital oil field has the potential to increase output, 
                        reduce operating costs and minimise unscheduled shutdowns of wells and equipment. As providers learn to leverage more data from all 
                        parts of their value chains captured by the Internet of Things (IoT), operators and engineers can utilise the digital oilfield to analyse 
                        in real-time their facilities and to make better decisions for optimal performance.
                    </p>
                </div>
    
                <div>
                    <img src="../images/oil-gas-mining/DigitalOilFields_img1.png" alt="Digital Oil Fields Case Study Images" class="case-study-photo" />
                    <img src="../images/oil-gas-mining/DigitalOilFields_img2.png" alt="Digital Oil Fields Case Study Images" class="case-study-photo" />
                    <img src="../images/oil-gas-mining/DigitalOilFields_img3.png" alt="Digital Oil Fields Case Study Images" class="case-study-photo" />
                </div>
            </div>
        </div>
        <a href="../../index.html#work" class="d-flex text-decoration-none text-dark">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-left m-1" viewBox="0 0 20 20">
                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 
                    8.5H14.5A.5.5 0 0 0 15 8"/>
            </svg>
            <p class="mx-2"><span class="bold regular">Other case studies</span></p>
        </a>
    </div>

    <!-- Contact Section -->
    <div class="contact-section row pt-3">
        <div class="col-2 d-flex">
            <div>
                <a href="https://www.linkedin.com/in/sachinghegade/" target="_blank">
                    <img class="icon" src="../images/linkedin.png" 
                        alt="LinkedIn Icon" width="40" height="40">
                </a>
            </div>
            <div class="mx-3">  
                <a href="mailto:sachin.ghegade@gmail.com">
                    <img class="icon" src="../images/mail.png" 
                        alt="Gmail Icon" width="40" height="40">
                </a>
            </div>
        </div>
        <div class="col-10 regular text-end">
            <a href="tel:+91 9960060177" class="text-decoration-none text-dark">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="40" fill="currentColor" 
                    class="bi bi-telephone-fill text-muted" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 
                        1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 
                        1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 
                        1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.
                        703-2.877z"
                    />
                </svg>
                <span style="padding-left: 1%;">+91 9960 060177</span>
            </a>
        </div>
    </div>

     <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" 
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" 
        integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>
</body>
</html>